<nav class="horizontal flex flex-j-c flex-a-c bg-subtle">
    <div class="nav-container flex p-10-15">
        <div class="brand flex flex-1 flex-a-c flex-j-s p-10-15">
            SINRO
        </div>
        <div class="list flex flex-1 flex-a-c flex-j-e p-10-15">
            <div class="link">
                <a class=<%= title === "Home" ? "active" : "-"  %> href="/">Home</a>
            </div>
            <div class="link">
                <a class=<%= title === "Search" ? "active" : "-"  %> href="/search">Search</a>
            </div>
        </div>
    </div>   
</nav>