<nav class="horizontal flex flex-j-c flex-a-c bg-subtle border-b">

    <div class="nav-container flex p-10-15">

        <div class="list flex flex-1 flex-a-c flex-j-e p-10-15">

            <div class="link">

                <a class="trigger danger-btn" href="#">Sign out</a>

            </div>

        </div>

    </div>

</nav>


<div class="modal-container none flex flex-a-c flex-j-c">

    <div class="modal-card flex flex-a-c flex-j-c">

        <div class="modal-wrapper w-100 flex flex-col-dir flex-j-c">

            <div class="picture">

                <img class="h-w-200" src="/assets/confusion.png" alt="">

            </div>

            <h1>Sign Out</h1>

            <p class="p-u-d-10">Anda yakin ingin Sign Out ?</p>

            <div class="button-group flex flex-j-c m-u-d-20">

                <div class="m-l-r-10">

                    <a class="trigger secondary-btn"  href="#">Tidak, Cancel</a>

                </div>

                <div class="m-l-r-10">

                    <a class="danger-btn" href="/logout">Ya, Sign Out <i class="fa fa-sign-out"></i></a>

                </div>

            </div>

        </div>

    </div>

</div>

<script>

    const container = document.querySelector ('.modal-container');
    const triggers = document.querySelectorAll('.trigger');


    triggers.forEach(t=>{
        t.addEventListener('click',()=>{
            container.classList.toggle('none')
        });
    })


</script>