<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>
<body>

    <div class=" p-20-15 flex flex-a-c flex-j-c flex-col-dir">

            <h1>404</h1>
            <p>Page Not Found..</p>
            <p>to go back, HIT YOUR BROWSER BACK BUTTON!</p>

    </div>
  
</body>
</html>