<!DOCTYPE html>
<html lang="en">

<%- include ('./partials/head.ejs') %>

<body class="bg-blacked">

    <%- include ('./partials/nav.ejs') %>

    <div class="container flex flex-j-c flex-a-c margin-top-70">

        <div class="inside-wrapper flex flex-col-dir flex-j-c flex-a-c">
   
            <div class="words heading">

                <h1>Add New User</h1>

                <p class="disabled">Note : Username can only be used once!</p>

            </div>

            <div class="form-wrapper m-u-d-20 w-40">

                <form action="/admin/" method="POST">

                    <div class="input-wrapper flex flex-col-dir flex-j-c flex-a-c">

                        <input class="input-control m-u-d-20 w-80" type="text" placeholder="Username" name="username" required>

                        <input class="input-control m-u-d-20 w-80" type="text" placeholder="Password" name="password" required>

                        <input class="btn primary-btn m-u-d-20 w-80" type="submit" value="Save & Add">

                    </div>

                </form>

            </div>
            
            <p class=<%= stats === true ? "popup-primary" : stats===false ? "popup-warning" : "-" %> ><%= msg %> </p>

        </div>

    </div>

</body>

</html>