<!DOCTYPE html>
<html lang="en">

    <%- include ('./partials/head.ejs') %>

<body>

   <%- include ('./partials/mainNav.ejs') %> 

    <div class="container flex flex-j-c flex-a-s margin-top-30" >

        <div class="inside-wrapper flex flex-j-c flex-a-c flex-col-dir">

            <div class="picture">

                <img class=" h-w-200"  src="/assets/objective-analysis.png" alt="">

            </div>

            <div class="words">

                <div class="heading">

                    <h1 class="after">Sistem Informasi Nilai Rapor Online</h1>

                </div>

                <div class="paragraph">

                    <p >
                        SINRO merupakan website yang menyajikan informasi mengenai nilai Rapor
                        peserta didik yang bisa diakses oleh pengguna dengan mencari menggunakan 
                        Nomor Induk Siswa.
                    </p>
                    
                </div>
                
            </div>

            <div class="button-group m-u-d-20">

                <div class="link">

                    <a class = "primary-btn w-100" href="/search">Cari Siswa <i class="fa fa-search"></i></a>

                </div>

                <p class="margin-top-10 p-u-d-10 separator-wrapper">
                    <span class="separator-words">atau</span>    
                </p>

                <div class="link">

                    <a class="secondary-btn" href="/mainLogin">Sign In sebagai Guru <i class="fa fa-sign-in"></i></a>

                </div>

            </div>
        
        </div>
    
    </div>

</body>
</html>