<!DOCTYPE html>
<html lang="en">

    <%- include ('./partials/head.ejs') %>

<body>

   <%- include ('./partials/mainNav.ejs') %> 

    <div class="container flex flex-j-c flex-a-s margin-top-20" >

        <div class="inside-wrapper flex flex-j-c flex-a-c flex-col-dir">

            <div class="picture">

                <img class=" h-w-200"  src="/assets/objective-analysis.png" alt="">

            </div>

            <div class="words">

                <div class="heading">

                    <h1>Sistem Informasi Nilai Rapor Online</h1>

                </div>

                <div class="paragraph">

                    <p>
                        "SINRO merupakan website yang menyajikan informasi mengenai nilai Rapor
                        peserta didik yang bisa diakses oleh pengguna dengan mencari menggunakan 
                        Nomor Induk Siswa."
                    </p>
                    
                </div>
                
            </div>

            <div class="button-group m-u-d-20">

                <div class="link">

                    <a class = "primary-btn" href="/search">Cari Siswa <i class="fa fa-search"></i></a>

                </div>

                <p class="p-u-d-10">atau</p>

                <div class="link">

                    <a class="secondary-btn" href="/mainLogin">Sign In sebagai Guru</a>

                </div>

            </div>
        
        </div>

    </div>

</body>
</html>